body{
    background-color: #e9ebee !important;
}

.main-page{
    background-color: white;
    border: 1px solid #dddfe2;
    padding: 1em 0 1em 0;
    margin-top: 1em 0 1em 0;
}

.navbar-expand .navbar-nav .nav-link{
    padding: 0 !important;
}

.navbar-btn{
    height: 3em;
}

.tweet-operation:hover, .user-info:hover{
    cursor: pointer;
    text-decoration: underline;
}

.loading-spinner{
    height: 15em !important;
    width: 15em !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7.5em;
    margin-left: -7.5em;
}